<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Chef en casa</title>
</head>

<body>


    <main>
        <div class="big_wrapper">
            <header>
                <div class="container">
                    <div class="logo">
                        <img src="/static/Logo.JPG" alt="logo">
                        <h1>CHEF EN CASA</h1>
                    </div>
                    <div class="links">
                        <ul>
                            <li><a href="">Menu</a></li>

                            <li><a href="">Acerca de </a></li>
                            <li><a href="">Testimonios </a></li>
                            <li><a href="" class="btn">Iniciar sesion</a></li>
                        </ul>
                    </div>
                    <div class="overlay"></div>

                    <div class="hamburger-menu">
                        <div class="bar"></div>
                    </div>
                </div>
        </div>
        </header>
        <div class=" showcase-area">
            <div class="container">

                <div class="left">
                    <div class="big-title">
                        <h1>Cocina como los mejores cocineros desde la comodidad de tu casa</h1>
                    </div>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, impedit?
                    </p>
                    <div class="cta">
                        <a href="" class="btn">Comienza ahora</a>
                    </div>
                </div>
                <div class="right">
                    <img src="/static/segunda.jpg" alt="Cocinando" class="person">
                </div>
            </div>
        </div>




        </div>
    </main>








    <!--
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>



    
    <form action="" method="post">
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name" /><br>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" /><br>
        <label for="password">Contraseña: </label>
        <input type="password" id="password" name="password" /><br>
        <input type="submit" id="send-signup" name="signup" value="Registrar" />
    </form>
    -->



</body>

</html>